/* Hoja de estilos
Contiene los estilos de un sitio web responsive.
Michel Haddad - Internetedadinero.com | 2017
*/

.container {
    width:1080px;
    margin:0px auto;
    font-size:1em;
    font-family: "Arial", Georgia, Serif;
    font-size: 15px;
  }
  header {
    text-align:center;
    border: 1px solid #ccc;
    background: #fafafa
  }
  h3 {
    font-size: 20px;
  }
  a {
    color: #333;
    text-decoration: none;
  }
  section,aside {
    padding: 10px;
    -moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;
  }
  section {
    float: left;
    width: 55%;
  }
  aside {
    float: right;
    width: 40%;
    color: #333;
  }
  nav {
    overflow: hidden;
    background:#444;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  nav ul {
    list-style-type:none;
    float:left;
    padding:0px;
    width: 100%;
    display: table;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    float: none;
    padding:8px 10px;
    margin:2px;
    background:#e52020;
    -moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;
    border: solid 1px #fafafa;
  }
  nav ul li:hover {
    background-color: #333;
  }
  nav a {
   display:block;
   text-align:center;
   text-decoration:none;
   color: #fafafa;
  }
  form {
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: solid 1px #c2c2c2;
    padding-bottom: 10px;
    margin: auto;
    background: #fafafa;
  }
  input[type=textfield] {
      width: 75%;
      padding: 16px 32px;
      font-size: 16px;
      margin: 8px 0;
      border: 1px solid silver;
      border-radius: 1px;
      text-align: left;
      color: #333;
      background: #ccc;
  }
  input[type=button], input[type=submit], input[type=reset] {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 16px 32px;
      font-size: 16px;
      min-width: 21%;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
  }
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #333;
  }
  
  footer {
    position: fixed;
    Width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0px 10px 0px;
    background-color: #333;
    text-align: center;
  }
  footer a {
    color: #fff;
  }
  
  /* pantalla maximo 980px */
  @media screen and (max-width:980px) {
    .container {
      width:98%;
    }
    section {
      width:68%;
    }
  }
  
  /* pantalla maximo 700px */
  @media screen and (max-width:700px) {
    aside,section {
      float:none;
      width:96%;
      font-size:1.2em;
    }
    nav, section {
      font-size:1.2em;
    }
    aside {
      margin-top:5px;
      background:#fafafa;
      color: #333;
    }
    nav ul {
      float:none;
      clear:both;
    }
  }
  
  /* pantalla maximo 480px */
  @media screen and (max-width:480px) {
    aside {
      display:block;
      background:#fafafa;
      color: #333;
      font-size:1.5em;
    }
    nav, section {
      font-size:1.5em;
    }
    section {
      width:94%;
    }
    nav ul {
      display: table;
      text-align: center;
      float: none;
      width:100%;
    }
    nav ul li {
      float:none;
    }
  }